
.jumbotron{

background-image: url("../img/Smart-Home-Background.jpg");
background-repeat: no-repeat;
background-size: 100%;
margin-bottom: 1%;
margin-top: 5%;

}

.display-4{
    color: #17232b;
}
.lead {
color: #172731;
}

#Payload{
    background-color: #3b5268;
    margin-bottom: 1%;
    padding-top: 1%;
}

#MqttBroker{
background-color: rgb(155, 161, 165); 
margin-bottom: 1%;
padding-top: 1%;
}


#DeviceThnig{
    background-color: rgb(84, 133, 114);
    margin-bottom: 1%;
    padding-top: 1%;
}

#Items{

    background-color:#5f4b68 ;
    margin-bottom: 1%;
    padding-top: 1%;
}

